@{
    Layout = "Shared/_Layout.cshtml";
}
@section title{
Home
}
@section menu{
    <ul>
        <li><a href="/" class="selected"><span>Home</span></a> </li>
        <li><a href="/Apps"><span>Apps</span></a> </li>
    </ul>
}
<h2>
    Welcome to AppGrid!!</h2>
